{% extends 'layout.twig' %}

{% block title "Se connecter à votre compte" %}

{% block _classActiveLogin "_current" %}

{% block body %}
    <section class="_mainWrapper _darkerBg _sectionPadding">
        <div class="_container">
            <div class="_columnMedium-6">
                {#{{ form_start({'action': path('users.login'), 'method': 'POST', 'class': '_formTop'}) }}
                {{ form_row(
                    {
                        'name': 'username',
                        'content': 'Nom d\'utilisateur',
                        'class': '_formGroup-Label'
                    },
                    {
                        'field': 'input',
                        'type': 'text',
                        'name': 'username',
                        'id': 'username',
                        'value': '',
                        'class': '_formGroup_Field',
                        'required' : ''
                    },
                    {
                        'class': 'fa fa-user-o _icon'
                    }
                ) }}
                {{ form_row(
                    {
                        'name': 'password',
                        'content': 'Mot de passe',
                        'class': '_formGroup-Label'
                    },
                    {
                        'field': 'input',
                        'type': 'password',
                        'name': 'password',
                        'id': 'password',
                        'value': '',
                        'class': '_formGroup_Field',
                        'required' : ''
                    },
                    {
                        'class': 'fa fa-user-o _icon'
                    }
                ) }}
                {{ form_row(
                    null,
                    {
                        'field': 'input',
                        'type': 'submit',
                        'name': 'submitForm',
                        'id': 'submitForm',
                        'value': 'Se connecter',
                        'class': '_sendForm',
                        'required': ''
                    }
                ) }}
                {{ form_end() }}#}

                {{ formStart(
                    path('users.login'),
                    'POST',
                    'enctype',
                    '_formTop') }}
                    {{ formRow(
                        {
                            'name': 'username',
                            'content': 'Nom d\'utilisateur'
                        },
                        {
                            'field': 'input',
                            'type': 'text',
                            'name': 'test_name',
                            'id': 'test_id',
                            'value': null,
                            'placeholder': null,
                            'class': 'test_class'
                        }
                    ) }}
                    {{ formRow(
                        {
                            'name': 'password',
                            'content': 'Mot de passe'
                        },
                        {
                            'field': 'input',
                            'type': 'password',
                            'name': 'test_name',
                            'id': 'test_id',
                            'value': null,
                            'placeholder': null,
                            'class': 'test_class'
                        }
                    ) }}
                    {{ formRow(
                        {
                            'name': null,
                            'content': null
                        },
                        {
                            'field': 'input',
                            'type': 'submit',
                            'name': '_submitForm',
                            'id': '_submitForm',
                            'value': 'Me connecter',
                            'placeholder': null,
                            'class': '_sendForm'
                        }
                    ) }}
                {{ formEnd() }}
            </div>
        </div>
    </section>
{% endblock %}
